.wh{
  width: 90% !important;
  background-color:#260e30!important; 
  border-radius: 20px 20px 20px 20px !important;
}
.pd{
  margin-left: 2em;
}

.buy{
  background-color: #5116ae !important;
  border: #5116ae;
}

.radius{
  border-radius: 20px 20px 20px 20px !important;
}
.explore{
  margin-left: 4em;
  margin-top: 2em;
  @media (min-width:540px) and (max-width:767px) {

   }
   @media (min-width:768px) and (max-width:1023px) {

   }
  
   @media (min-width:1024px) and (max-width:1200px) {
 
   }
   @media (min-width:1201px){
   
   }
}