.wh{
  width: 90% !important;
  background-color: #262525 !important; 
  border-radius: 20px 20px 20px 20px !important;
}
.pd{
  margin-left: 2em;
}

.buy{
  background-color: #8d950b !important;
}

.radius{
  border-radius: 20px 20px 0px 0px !important;
}