.bg{
  background-color: #384225; 
  z-index: 9999;
  position: static;
}
.white{
  color: white !important;
}
.login{
  background-color: #8d950b !important; 
  border-color: #849006 !important;
}
.search{
  margin-right: 1em;
}