.bg{
  background-color: #384225; 
  z-index: 9999;
  position: static;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #380d7d;
}
.white{
  color: white !important;
}
.login{
  color:blue !important; 
  background-color: white !important;
  height: 40px;
}
.search{
  margin-right: 1em;
  height: 40px;
}
.singup{
  color: white !important; 
  background-color: #150ba6 !important;
  border-color: #150ba6 !important;
  height: 40px;
}