.bg{
  background-color: #384225; 
  z-index: 9999;
  position: static;
}
.white{
  color: white !important;
}
.login{
  color: #5116ae !important; 
  background-color: white !important;
}
.search{
  margin-right: 1em;
}
.singup{
  color: #5116ae !important; 
  background-color: white !important;
}