.half-screen-carousel {
  max-width: 70%; /* Establece el ancho máximo al 50% de la pantalla */
  margin: 0 auto; /* Centra horizontalmente el carrusel en su contenedor */
  /* Puedes agregar más estilos según tus preferencias, como altura, etc. */
}
.top{
  margin-top: 4em;
}
.wh{
  width: 100% !important;
  margin-bottom: 0em;
}
.pd{
  margin-left: 2em;
}

.buy{
  background-color: #8d950b !important;
}
.purple{
  border-color: purple !important;
}