.wh{
  width: 200px !important;
  background-color: #260e30 !important; 
  border-radius: 20px 20px 20px 20px !important;
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 3em;
  @media (min-width: 440px) {
    width: 200px !important;
    background-color: #260e30 !important; 
    border-radius: 20px 20px 20px 20px !important;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
}
.wcard{
  width: 220px !important;
  background-color: #260e30 !important; 
  border-radius: 20px 20px 20px 20px !important;
  @media (min-width: 1024px) {
    width: 220px !important;
    background-color: #260e30 !important; 
    border-radius: 20px 20px 20px 20px !important;
  }
}
.pd{
  margin-left: 2em;
  margin-bottom: 4em;
}

.buy{
  background-color: #5116ae !important;
  border: #5116ae;
}

.radius{
  border-radius: 20px 20px 0px 0px !important;
}
.ml{
  margin-left: 1em;
}