.sing{
  width: 300px;
  background-color: white;
  height: 550px;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  @media(min-width:768px) {
    width: 450px;
  }
}

.secction{
  margin-top: 2em;
  height: 600px;
}
.text{
  padding-top: 1em;
}